<nav class="navbar navbar-vertical navbar-expand-md navbar-light" id="color">
  <div class="container-fluid">
    <!-- Brand -->
    <div class="profile">
      <!-- href="./assets/img/brand/logo.png" -->
      <img src="./assets/img/brand/logo.png" alt="" class="img-fluid rounded-circle">
    </div>
    <!-- Collapse -->
    <div class="collapse navbar-collapse" [ngbCollapse]="isCollapsed" id="sidenav-collapse-main">
      <!-- Collapse header -->
      <!-- Divider -->
      <hr class="my-3">
      <!-- Heading -->
      <h2 class="text-gray">Gestionar datos</h2>
      <!-- Navigation -->
      <ul class="navbar-nav mb-md-3">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/merchantsHome']">
            <i class="bx bx-home text-green"></i> Inicio
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/merchantsData']">
            <i class="bx bx-file-blank text-green"></i> Datos de entrada
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/history']">
            <i class="bx bx-history text-green"></i> Registros
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/merchantsAbout']">
            <i class="bx bx-user text-green"></i> Acerca de mí
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/merchantsDetail']">
            <i class="bx bx-book-content text-green"></i> Detalles
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
