<div class="header bg-gradient-blue pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
	<!-- Table -->
	<div class="row">
		<div class="col">
			<div class="card shadow">
				<div class="card-header border-0">
					<h1 class="text-center">Bienvenido</h1>
				</div>
				<div class="card-body">
					<p style="text-align: justify;">Antes de la llegada de los españoles a lo que hoy se conoce como México, el aguacate se había clasificado perfectamente. En el Códice Florentino se mencionan tres tipos principales: aoácatl, quilaoácatl y tlacacoloácatl, que por su descripción podrían equivaler a las tres especies principales de esta planta: mexicana, guatemalteca y antillana, respectivamente.</p>
					<section id="portfolio" class="portfolio">
						<div class="container">
							<div class="row">
								<div class="col-lg-4 col-md-6">
									<div class="portfolio-wrap">
										<img src="./assets/img/brand/form.jpg">
										<p style="text-align: justify;"><strong>¿Sabías qué?</strong> En 1935 Rudolph Hass patentó la variedad de aguacate más consumido en el mundo, que crece en las cuatros estaciones del año.</p>
									</div>
								</div>
								<div class="col-lg-4 col-md-6 portfolio-item filter-app">
									<div class="portfolio-wrap">
										<img src="./assets/img/brand/form1.jpg">
										<p style="text-align: justify;"><strong>¿Sabías qué?</strong> La palabra aguacate proviene del idioma náhuatl, de la palabra “ahuacatl” que significa “testículo”. Sí, leíste bien. Tal vez los nahuas le llamaban así por su forma e incluso porque en su forma natural se encuentra colgando del árbol.
										En idioma purépecha (grupo que era enemigo de los mexica). al aguacate se lo conocía como “cupanda”</p>
									</div>
								</div>
								<div class="col-lg-4 col-md-6">
									<div class="portfolio-wrap">
										<img src="./assets/img/brand/form2.jpg">
										<p style="text-align: justify;"><strong>¿Sabías qué?</strong> Tan importante es el consumo de aguacate en México, que hay pueblos que desde hace siglos llevan un nombre relacionado con este fruto, Ahuacatenango, Chiapas, “en el recinto de los aguacates”; Ahuacatepec, Veracruz, o Aguacatitlán “lugar de aguacates”, Guerrero, Jalisco y Estado de México y Ahuacatlán también “lugar de aguacates”, en Nayarit y Puebla.</p>
									</div>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
		</div>
	</div>
</div>

