<section id="resume" class="resume">
	<div class="container">
		<div class="section-title">
			<h2>Datos generales</h2>
		</div>
		<form (ngSubmit)="onSubmit()" enctype="multipart/form-data">
			<div *ngIf="isMerchant">
				<div class="row">
					<div class="col">
						<label for="code">Code:</label>
						<input class="form-control" #code="ngModel" name="code" [(ngModel)]="merchant.code" id="code" type="text" placeholder="Ingresa el QR" required="">
					</div>
				</div>
				<div class="col">
				</div>
			</div>
			<div *ngIf="isCarrier">
			</div>
			<div *ngIf="isAcopio">
			</div>
			<div *ngIf="isProductor">
				<div class="row">
					<div class="col">
						<label for="harvestDate">Fecha de cosecha:</label>
						<input class="form-control" #harvestDate="ngModel" name="harvestDate" [(ngModel)]="productor.harvestDate" id="harvestDate" type="text" placeholder="Ingresa la fecha de corte del producto o productos" required="">
					</div>
					<div class="col">
						<label for="caducationDate">Fecha de caducidad:</label>
						<input class="form-control" #caducationDate="ngModel" name="caducationDate" [(ngModel)]="productor.caducationDate" id="caducationDate" type="text" placeholder="Ingresa la fecha de caducidad del producto o productos" required="">
					</div>
				</div>
				<div class="row">
					<div class="col">
						<label for="documentation">Documentation:</label>
						<input class="form-control" #documentation="ngModel" name="documentation" [(ngModel)]="productor.documentation" id="documentation" type="text" placeholder="Documentos que garantizan la calidad de tu producto" required="">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<label for="fid">Dato anterior:</label>
					<select  class="form-control" #fid="ngModel" name="fid" [(ngModel)]="tuser.fid" id="fid" (ngModelChange)="onChange()">
						<option value="null">Ninguno</option>
						<option value="{{productor._id}}" *ngFor="let productor of dataP">{{productor.name}}</option>
						<option value="{{acopio._id}}" *ngFor="let acopio of dataA">{{acopio.name}}</option>
						<option value="{{carrier._id}}" *ngFor="let carrier of dataC">{{carrier.name}}</option>
						<option value="{{merchant._id}}" *ngFor="let merchant of dataM">{{merchant.name}}</option>
					</select>
				</div>
				<div class="col">
					<label for="ubication">Ubicación:</label>
					<input class="form-control" #ubication="ngModel" name="ubication" [(ngModel)]="tuser.ubication" id="ubication" type="text" placeholder="Ubicación" required="">
				</div>
			</div>
			<div class="row">
				<div class="col">
					<label for="name">Nombre del paquete:</label>
					<input class="form-control" #name="ngModel" name="name" [(ngModel)]="tuser.name" id="name" type="text" placeholder="Ingresa el nombre del paquete" required="">
					<!--<input class="form-control" #image="ngModel" name="image" [(ngModel)]="merchant.image" id="image" type="file" required="" (change)="fileChangeEvent($event)">-->
				</div>
				<div class="col">
					<label for="image">Imagen:</label>
					<input (change)="fileChange($event)" class="form-control" #image="ngModel" name="image" [(ngModel)]="tuser.image" id="image" type="file" placeholder="IMAGEN" required="">
				</div>
				<div class="col">
					<label for="permitions">Permisos:</label>
					<input class="form-control" #permitions="ngModel" name="permitions" [(ngModel)]="tuser.permitions" id="permitions" type="text" placeholder="Habilitados" required="" disabled>
				</div>
			</div>
			<div class="row" *ngIf="!isHidden"> <!--Show in dev -->
				<div class="col">
					<label for="description">Description:</label>
					<input class="form-control" #description="ngModel" name="description" [(ngModel)]="tuser.description" id="description" type="text" placeholder="Describe el producto" required="">
				</div>
				<div class="col">
					<label for="currentStage">Etapa actual:</label>
					<input class="form-control" #currentStage="ngModel" name="currentStage" [(ngModel)]="tuser.currentStage" id="currentStage" type="text" placeholder="Etapa actual" required="" disabled>
				</div>
				<div class="col">
					<label for="previousStage">Etapa anterior:</label>
					<input class="form-control" #previousStage="ngModel" name="previousStage" [(ngModel)]="tuser.previousStage" id="previousStage" type="text" placeholder="Etapa anterior" required="" disabled>
				</div>
			</div>
			<!--<div class="row">
				<div class="col">
					<label for="mp">Maps:</label>
					<div id="floating-panel">
				      <a class="btn btn-danger" (click)="deleteMarkers()"><label class="text-white">Eliminar marcas</label></a>
				      <a class="btn btn-danger" (click)="trazar()"><label class="text-white">Trazar marcas</label></a>
				    </div>
				    <div id="directions-panel"></div>
					<div id="map-canvas" class="map-canvas" data-lat="19.360575957611847" data-lng="-99.11245350634144" style="height: 600px;"></div>
				</div>
			</div>-->
			<br>
			<div *ngIf="QR" style="text-align:center">
					QR GENERADO:
					<ngx-qrcode
					[elementType]="elementType"
					[value]="value"
					cssClass="aclass"
					errorCorrectionLevel="L">
					</ngx-qrcode>
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-success btn-lg">Enviar</button>
			</div>
		</form>
	</div>
</section>
