<div class="header bg-gradient-green pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
	<!-- Table -->
	<div class="row">
		<div class="col">
			<div class="card">
				<div class="card-header">Eliminación</div>
					<form class="card-body" (ngSubmit)="onSubmit()">
						<!--<div class="text-center" *ngIf="errorMessage">
							<strong>¡Error!</strong> {{ errorMessage }}
						</div>-->
						<p>Correo:</p><input class="form-control" #email="ngModel" name="email" [(ngModel)]="user.email" id="email" type="email" placeholder="Correo" required disabled><br>
						<p *ngIf="isHidden">Nombre de usuario:</p><input class="form-control" #nameOfUser="ngModel" name="nameOfUser" [(ngModel)]="user.nameOfUser" id="nameOfUser" type="text" placeholder="Nombre de usuario" required="" disabled><br>
						<p>Contraseña:</p><input class="form-control" #password="ngModel" name="password" [(ngModel)]="user.password" id="password" type="password" placeholder="Contraseña" required="" disabled><br>
						<p *ngIf="!isHidden">Token:</p><input class="form-control" #initialToken="ngModel" name="initialToken" [(ngModel)]="user.initialToken" id="initialToken" type="text" placeholder="Token" required="" *ngIf="!isHidden" disabled>
						<p *ngIf="!isHidden">Tipo de operación:</p><input class="form-control" #typeOfOperation="ngModel" name="typeOfOperation" [(ngModel)]="user.typeOfOperation" id="typeOfOperation" type="text" placeholder="Tipo de operación" required="" disabled *ngIf="!isHidden">
						<p *ngIf="!isHidden">Nombre de operación:</p><input class="form-control" #nameOfOperation="ngModel" name="nameOfOperation" [(ngModel)]="user.nameOfOperation" id="nameOfOperation" type="text" placeholder="Nombre de operación" required="" disabled *ngIf="!isHidden">
						<p *ngIf="!isHidden">LLave:</p><input class="form-control" #addressU="ngModel" name="addressU" [(ngModel)]="user.addressU" id="addressU" type="text" placeholder="AddressU" required="" *ngIf="!isHidden" disabled>
						<p *ngIf="!isHidden">Estado:</p><input class="form-control" #status="ngModel" name="status" [(ngModel)]="user.status" id="status" type="text" placeholder="Estado" required="" *ngIf="!isHidden" disabled>
						<p *ngIf="!isHidden">Fecha de creación:</p><input class="form-control" #creationDate="ngModel" name="creationDate" [(ngModel)]="user.creationDate" id="creationDate" type="text" placeholder="Fecha de creación" required="" *ngIf="!isHidden" disabled>
						<p>DP:</p>
            <label *ngIf="!isTUser"><input *ngIf="!isTUser" type="checkbox" #dp1="ngModel" name="dp1" [(ngModel)]="user.dp1" id="dp1"> Creación de usuarios administradores</label><br *ngIf="!isTUser">
            <label *ngIf="!isTUser"><input *ngIf="!isTUser" type="checkbox" #dp2="ngModel" name="dp2" [(ngModel)]="user.dp2" id="dp2"> Creación de usuarios normales</label><br *ngIf="!isTUser">
            <label *ngIf="!isAdmin"><input *ngIf="!isAdmin" type="checkbox" #dp3="ngModel" name="dp3" [(ngModel)]="user.dp3" id="dp3"> Agregar datos</label><br *ngIf="!isAdmin">
            <label><input type="checkbox" #dp4="ngModel" name="dp4" [(ngModel)]="user.dp4" id="dp4"> Actualización de datos personales</label><br>
            <label *ngIf="!isTUser"><input *ngIf="!isTUser" type="checkbox" #dp5="ngModel" name="dp5" [(ngModel)]="user.dp5" id="dp5"> Actualización de usuarios administradores</label><br *ngIf="!isTUser">
            <label *ngIf="!isTUser"><input *ngIf="!isTUser" type="checkbox" #dp6="ngModel" name="dp6" [(ngModel)]="user.dp6" id="dp6"> Actualización de usuarios normales</label><br *ngIf="!isTUser">
            <label *ngIf="!isAdmin"><input *ngIf="!isAdmin" type="checkbox" #dp7="ngModel" name="dp7" [(ngModel)]="user.dp7" id="dp7"> Acutalizar datos</label><br *ngIf="!isAdmin">
            <label><input type="checkbox" #dp8="ngModel" name="dp8" [(ngModel)]="user.dp8" id="dp8"> Eliminación de cuenta</label><br>
            <label *ngIf="!isTUser"><input *ngIf="!isTUser" type="checkbox" #dp9="ngModel" name="dp9" [(ngModel)]="user.dp9" id="dp9"> Eliminación de usuarios administradores</label><br *ngIf="!isTUser">
            <label *ngIf="!isTUser"><input *ngIf="!isTUser" type="checkbox" #dp10="ngModel" name="dp10" [(ngModel)]="user.ddp10p8" id="dp10"> Eliminación de usuarios normales</label><br *ngIf="!isTUser">
            <label *ngIf="!isAdmin"><input *ngIf="!isAdmin" type="checkbox" #dp11="ngModel" name="dp11" [(ngModel)]="user.dp11" id="dp11"> Eliminación de datos</label><br *ngIf="!isAdmin">
            <label ><input type="checkbox" #dp12="ngModel" name="dp12" [(ngModel)]="user.dp12" id="dp12"> Lectura de datos personales</label><br>
            <label *ngIf="!isTUser"><input *ngIf="!isTUser" type="checkbox" #dp13="ngModel" name="dp13" [(ngModel)]="user.dp13" id="dp13"> Lectura de usuarios administradores</label><br *ngIf="!isTUser">
            <label *ngIf="!isTUser"><input *ngIf="!isTUser" type="checkbox" #dp14="ngModel" name="dp14" [(ngModel)]="user.dp14" id="dp14"> Lectura de usuarios normales</label><br *ngIf="!isTUser">
            <label *ngIf="!isAdmin"><input *ngIf="!isAdmin" type="checkbox" #dp15="ngModel" name="dp15" [(ngModel)]="user.dp15" id="dp15"> Lectura de datos</label><br *ngIf="!isAdmin">
            <label><input type="checkbox" #dp16="ngModel" name="dp16" [(ngModel)]="user.dp16" id="dp16"> Autenticación</label><br>
						<button class="btn btn-success" type="submit">Confirmar</button>
						<button class="btn btn-danger" [routerLink]="['/tables/1']">Cancelar</button>
					</form>
			</div>
		</div>
	</div>
</div>
